<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>首页</title>

    {% load static %}
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{% static 'bootstrap3/css/bootstrap.min.css' %}">

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="{% static 'bootstrap3/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/index.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body background = "{% static 'pictures/bg.jpg' %}">
    <div class="container-fluid">
        <div class="page-header">
          <center><h1>自动文摘系统</h1></center>
        </div>

        <div class="row" style="margin:20px">
            <div class="col-md-2 col-md-offset-10">
                <a href="/summary/upload" class="btn btn-default">上传文档</a>
            </div>
        </div>

        <div class="panel panel-primary" style="margin-top:2%;margin-left:10%;margin-right:10%">
          <!-- Default panel contents -->
          <div class="panel-heading">文章列表</div>
          <div>
              <!-- Table -->
            <table class="table table-striped">
                <tr>
                    <td><center><strong>文件名</strong></center></td>
                    <td><center><strong>文件大小</strong></center></td>
                    <td><center><strong>文件上传时间</strong></center></td>
                    <td><center><strong>文件最后修改时间</strong></center></td>
                    <td><center><strong>上传者</strong></center></td>
                    <td><center><strong>文件类型</strong></center></td>
                    <td><center><strong>关键词</strong></center></td>
                    <!--<td><center><strong>下载次数</strong></center></td>-->
                    <td><center><strong>操作</strong></center></td>
                </tr>
                {% for doc in articles %}
                <tr>
                    <td><center>{{ doc.docname }}</center></td>
                    <td><center>{{ doc.size }}MB</center></td>
                    <td><center>{{ doc.create_time }}</center></td>
                    <td><center>{{ doc.update_time }}</center></td>
                    <td><center>{{ doc.upload_user }}</center></td>
                    <td><center>{{ doc.type }}</center></td>
                    <td><center>{{ doc.keywords }}</center></td>
                    <!--<td><center>{{ doc.downloads }}</center></td>-->
                    <td>
                        <center>
                            <!--<a name="{{ doc.docname }}" class="btn btn-info">下载</a>-->
                            <a name="{{ doc.docname }}" class="btn btn-danger">删除</a>
                            <a name="delete" href="{% url 'generate' doc.docname  %}" class="btn btn-primary">生成文摘</a>
                        </center>
                    </td>
                </tr>
            {% endfor %}
            </table>
          </div>
        </div>

        <nav aria-label="Page navigation" style="margin-left:45%;">
            <ul class="pagination">
                {% if cus_list.has_previous %}
                    <li>
                        <a href="?page={{ cus_list.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span></a>
                    </li>
                {% endif %}
                {% for pg in cus_list.paginator.page_range %}
                    {% if cus_list.number == pg %}
                        <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
                    {% else %}
                        <li><a href="?page={{ pg }}">{{ pg }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if cus_list.has_next %}
                    <li>
                        <a href="?page={{ cus_list.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</body>
</html>